Repository AY2122S1-CS2103T-W15-4/tp, pull requests merged in 2021-09, with the labels that each got.

#10 Add `export` command to UG feats
  docs/UserGuide.md
Labels: type.Guide

#12 Add coarse-grained telemarketer use case
  docs/DeveloperGuide.md
Labels: type.Guide

#15 Add `import` command to UG and Non-Functional Requirements to DG
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: type.Guide

#19 Add Target User Profile to DG
  docs/DeveloperGuide.md
Labels: type.Guide, type.Documentation

#14 Fix build.gradle java fx libraries for linux (fedora)
  build.gradle
Labels: type.Bug

#26 Adding images to About Us
  docs/AboutUs.md
  docs/images/gok99.jpg
  docs/images/lhw.png
  docs/images/skythefire.png
  docs/images/tanqiya.png
  docs/images/vigneshsankariyer1234567890.jpg
Labels: type.Documentation
